.about {
  width: 380px;

  @media (max-width: $max-tablet-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 70px;
    background-image: url("../../img/background/promo-bg-tablet.jpg");
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    min-height: 340px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/promo-bg-tablet@2x.jpg");
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../../img/background/promo-bg-mobile.jpg");
    min-height: 390px;
    padding-right: 16px;
    padding-left: 16px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/promo-bg-mobile@2x.jpg");
    }
  }
}

.about__logo {
  @media (max-width: $max-tablet-width) {
    margin-left: 22px;
    margin-top: 25px;
  }

  @media (max-width: $max-mobile-width) {
    margin-left: 0;
  }
}

.about h1 {
  @include text-size(46px, 64px);

  color: $text-color-white;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin-top: 20px;
  margin-bottom: 26px;

  @media (max-width: $max-tablet-width) {
    @include text-size(30px, 42px);

    text-align: center;
    padding-top: 68px;
    margin-bottom: 3px;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 54px;
  }
}

.about p {
  @include text-size(20px, 32px);

  color: $text-color-off-white;
  font-weight: 300;
  letter-spacing: -0.01em;

  @media (max-width: $max-tablet-width) {
    font-size: 18px;
    padding-left: 190px;
    padding-right: 190px;
    text-align: center;
  }

  @media (max-width: $max-mobile-width) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
