.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 84px;
  max-width: 1125px;
  padding-top: 220px;
  padding-bottom: 98px;

  @media (max-width: $max-tablet-width) {
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 135px;
    padding-bottom: 32px;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 104px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 28px;
  }
}

.contacts h2 {
  @include text-size(30px, 30px);

  font-weight: 600;
  letter-spacing: -0.07px;
  text-align: center;
  color: $text-color-dark-gray;
  margin-bottom: 11px;

  @media (max-width: $max-tablet-width) {
    font-size: 24px;
    margin-bottom: 14px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 18px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.contacts p {
  @include text-size(17px, 31px);

  font-weight: 400;
  text-align: center;
  color: $text-color-middle-gray;
  margin-bottom: 42px;
  padding-left: 200px;
  padding-right: 200px;

  @media (max-width: $max-tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 20px;
    margin-top: 6px;
    letter-spacing: 0.1px;
  }

  @media (max-width: $max-mobile-width) {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.contacts__map {
  width: calc(100vw - 170px);
  max-width: 957px;
  height: 530px;
  margin-bottom: 35px;

  &--no-js {
    display: none;
  }

  @media (max-width: $max-tablet-width) {
    width: calc(100vw - 70px);
    height: 545px;
    margin-bottom: 18px;
    align-self: flex-start;
  }

  @media (max-width: $max-mobile-width) {
    width: calc(100vw);
    height: 250px;
    margin-bottom: 31px;
  }
}

.contacts__map-image picture,
.contacts__map-image img {
  display: flex;
}

.contacts__map-image {
  display: flex;
  width: calc(100vw - 168px);
  max-width: 957px;
  height: 530px;
  margin-bottom: 36px;

  @media (max-width: $max-tablet-width) {
    width: calc(100vw - 70px);
    height: auto;
    margin-bottom: 21px;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
    height: auto;
    margin-bottom: 31px;
  }
}

.contacts__map-image--js {
  display: none;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 22px;
  }

  &--mail {
    @media (max-width: $max-mobile-width) {
      margin-left: 9px;
    }
  }
}

.contacts__link:not(:last-child) {
  margin-right: 82px;

  @media (max-width: $max-tablet-width) {
    margin-right: 88px;
  }

  @media (max-width: $max-mobile-width) {
    margin-right: 0;
  }
}

.contacts__link:last-child {
  margin-right: 15px;

  @media (max-width: $max-mobile-width) {
    margin-right: 12px;
  }
}

.contacts__link:hover span {
  text-decoration: underline;
  color: $color-accent;
  transition: all 0.3s;
}

.contacts__link:active span {
  opacity: 0.3;
}

.contacts__icon {
  stroke: $color-accent;
  fill: none;
  margin-right: 15px;

  @media (max-width: $max-tablet-width) {
    margin-right: 10px;
  }
}
