.promo {
  background-color: $header-bg-color;
  background-image: url("../../img/background/promo-bg-desktop.jpg");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  margin-bottom: 154px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background/promo-bg-desktop@2x.jpg");
  }

  @media (max-width: $max-tablet-width) {
    background-image: none;
    background-color: $white-background-color;
    margin-bottom: 68px;
  }
}

.promo-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  max-width: 884px;
  padding-top: 320px;
  padding-bottom: 219px;
  padding-right: 2px;

  @media (max-width: $max-tablet-width) {
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    padding-top: 0;
    padding-bottom: 0;
  }
}
