$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color-off-white: rgba(255, 255, 255, 0.7);
$text-color-off-white-2: rgba(255, 255, 255, 0.8);
$text-color-gray: rgba(28, 28, 28, 0.5);
$text-color-middle-gray: rgba(0, 0, 0, 0.7);
$text-color-dark-gray: #1f1f1f;
$text-color-light-gray: #48494d;
$color-accent: #0ad9c6;
$header-bg-color: #131313;
$nav-border-color: rgba(255, 255, 255, 0.2);
$white-background-color: #ffffff;
$gray-bg-color: #f6f7f9;
$dark-gray-bg-color: #131314;
$menu-link-bg-color: #f6f6f6;
$input-border-color: #c9ccd4;

$max-tablet-width: 1023px;
$max-mobile-width: 767px;
$desktop-width-only: 1024px;

$primary-font: "Open Sans", "Arial", sans-serif;
